.message__content{data: {message: {id: message.id}}}
  .message__content__info
    .message__content__info--memmber
      = message.user.name
    .message__content__info--date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message__content__message
    - if message.body.present?
      %p.message__content__message--text
        = message.body
    = image_tag message.image.url, class: 'main-chat__content__message--image' if message.image.present?